<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>ArchBox Linux{% if page.title != null %} :: {{ page.title }}{% endif %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css"> -->
    <!-- <link href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="{{ site.baseurl }}/vendor/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">-->

    <script src="{{ site.baseurl }}/vendor/jquery/jquery-1.12.1.min.js"></script>
    <!-- <script src="{{ site.baseurl }}/vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>  -->
    <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js"></script>


    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
  </head>
